/*--Part of the reset--*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/*--------------Body-------------*/
body {
    font: 12px/18px Arial, sans-serif;
    background: #1a1a1a;
}

.art_vertical_line {
    background-color: #6b0f0b;
    width: 0.8em;
    height: 310em;
    margin-left: 5%;
    display: inline;
    margin-top: -1.1%;
    /* To get the line up to the    banner*/
}


.link_white {
    text-decoration: none;
    color: #ebe9ec;
}

.art_main_container {
    display: flex;
    flex-direction: row;
    margin-top: 260px;
}

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.art_intro_img {
    max-width: 100%;
}

.art_img {
    max-width: 75%;
    margin-left: -10%;
}

.art_container {
    position: absolute;
    padding-top: 12em;
    max-width: 100%;
}

.img_intro {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.art_intro {
    font-family: Overpass;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.4em;
    color: #ebe9ec;
    padding-left: 10%;
    padding-right: 4%;
    max-width: 100%;
}

.img_intro_text {
    color: #ebe9ec;
    font-size: 0.8em;
    padding-left: 10%;
    padding-right: 2%;
    margin-top: -0.5%;
    margin-bottom: 0%;
    font-weight: 300;
    font-style: italic;
    font-family: overpass;
}

.img_text {
    color: #ebe9ec;
    font-size: 0.8em;
    padding-right: 2%;
    margin-top: -0.5%;
    margin-bottom: 0%;
    font-weight: 300;
    font-style: italic;
    font-family: overpass;
    max-width: 50%;
}

.art_intro_container {}


.art_content {
    max-width: 80%;
    padding-left: 12%;
    margin-bottom: 8%;
}

.art_heading {
    font-family: unica one;
    font-size: 3em;
    line-height: 1em;
    color: #ab1810;
    margin-top: 2em;
    margin-bottom: 0%;

}

.art_text {
    font-family: Overpass;
    font-size: 1.1em;
    letter-spacing: 0.06em;
    line-height: 1.4em;
    color: #ebe9ec;
    padding-right: 4%;

}

.art_text_list {
    font-family: Overpass;
    font-size: 1.1em;
    letter-spacing: 0.06em;
    line-height: 1.4em;
    color: #ebe9ec;
    padding-left: 8%;
    padding-right: 8%;

}

li {
    padding-bottom: 2%;
}

.quote_container {
    width: auto;
    padding-right: 5%;
    text-align: end;
}

.quote {
    max-width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}



/*TEXT-DOTS-LINES*/

.content_art {
    width: auto;
    height: 10%;
}

.art_headline {
    margin-top: 26%;
    margin-bottom: 10%;
    padding-left: 0%;
    font-family: unica one;
    font-size: 3em;
    color: #ab1810;
}

.art_headline_nolan {
    margin-top: 16%;
    margin-bottom: 10%;
    padding-left: 0%;
    font-family: unica one;
    font-size: 3em;
    color: #ab1810;
}

.art_headline_scr {
    margin-top: 20%;
    margin-bottom: 10%;
    padding-left: 0%;
    font-family: unica one;
    font-size: 3em;
    color: #ab1810;
}

.art_sub_headline {
    padding-top: 8%;
    padding-bottom: 4%;
    padding-left: 14%;
    font-family: overpass;
    font-size: 1.8em;
    color: #ebe9ec;
    width: 160%;
}

.art_sub_headline_nolan {
    padding-top: 1%;
    padding-bottom: 4%;
    padding-left: 14%;
    font-family: overpass;
    font-size: 1.8em;
    color: #ebe9ec;
    width: 160%;
}

.art_sub_headline_scr {
    padding-top: 6%;
    padding-bottom: 4%;
    padding-left: 14%;
    font-family: overpass;
    font-size: 1.8em;
    color: #ebe9ec;
    width: 160%;
}

.art_dot_headline {
    height: 2.8em;
    width: 2.8em;
    background-color: #ab1810;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: 110%;
    margin-bottom: 65%;
    margin-left: -60%;
}

.art_dot_subheadline {
    height: 2.4em;
    width: 2.4em;
    background-color: #ebe9ec;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: -10%;
    margin-bottom: 80%;
    margin-left: -52%;
}

.art_line_pad {
    padding-top: 40%;
}

.art_line {
    height: 0.4em;
    background-color: #ebe9ec;
    width: 4.5em;
    margin-left: 1em;
}




/*-----------*/
/*--Related--*/
/*-----------*/
.related_container {
    padding-top: 4em;
    max-width: 85%;
}

.rel_line {
    width: 80%;
    height: 0.5em;
    background-color: #6b0f0b;
    float: right;

}

.rel_headline {
    font-family: unica one;
    font-size: 3em;
    color: #ab1810;
    text-align: right;
    padding-right: 6%;
    margin-top: 6%;
    margin-bottom: 2%;
}

.rel_article {
    font-family: overpass;
    font-size: 1em;
    color: #ebe9ec;
    display: flex;
    flex-direction: column;
    padding-right: 6%;
    padding-top: 6%;
    padding-bottom: 6%;
    align-items: flex-end;
}

.rel_sub {
    font-family: overpass;
    font-size: 2em;
    color: #ebe9ec;
    margin-bottom: 2%;
}

.rel_img {
    max-width: 50%;
}

.rel_text {
    font-family: overpass;
    font-size: 1em;
    color: #ebe9ec;
    text-align: end;
    max-width: 50%;
    margin-top: 2%;
}

.rel_dot {
    height: 2.2em;
    width: 2.2em;
    background-color: #ebe9ec;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: -128.5%;
    margin-left: 95%;
}

.rel_dot_two {
    height: 2.2em;
    width: 2.2em;
    background-color: #ebe9ec;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: 64%;
    margin-left: 95%;
    z-index: 2;
}




/*--FOOTER--*/

/*---------Footer---------*/

.art_container_footer {
    background-color: #ebe9ec;
    display: flex;
    flex-direction: row;
}

/*-------------------------*/
/*---------Devices---------*/
/*-------------------------*/

@media only screen and (min-width: 500px) {

    .art_intro {
        padding-left: 10%;
    }

    .art_content {
        padding-left: 10%;
    }
}

@media only screen and (min-width: 768px) {
    .img_intro {
        flex-direction: row;
        font-size: 1em;
    }

    .art_img {
        max-width: 100%;
    }

    .art_intro_container {
        width: 40%;
    }

    .art_content {
        max-width: 80%;
        padding-left: 8%;
    }

    .img_intro_text {
        padding-left: 15%;
        font-size: 0.9em;
    }

    .img_text {
        font-size: 0.9em;
    }

    .art_container {
        max-width: 70%;
    }

    .art_text {
        font-size: 1.15em;
    }
}

@media only screen and (min-width: 850px) {
    .art_intro_container {}
}

@media only screen and (min-width: 1024px) {
    .art_content {}

    .art_intro {}
}
