/*--Part of the reset--*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/*----------------------*/
/*---------Main---------*/
/*----------------------*/
.main_container {
    display: flex;
    flex-direction: row;
    max-width: 70%;
}

.new_container {
    float: right;
    max-width: 20%;
    color: aliceblue;
}


.content {}



/*---headline---*/

.empty {
    padding: 20%;
}

/*---A----*/
.a_headline {
    margin-top: 20%;
    margin-bottom: 20%;
    padding-left: 0%;
    font-family: unica one;
    font-size: 3em;
    color: #ab1810;
}

.a_sub_headline {
    padding-top: 2%;
    padding-bottom: 20%;
    padding-left: 8%;
    font-family: overpass;
    font-size: 1.8em;
    color: #ebe9ec;
}

.a_title {
    padding-top: 1%;
    padding-bottom: 15%;
    padding-left: 15%;
    font-family: overpass;
    font-size: 1.4em;
    color: #ebe9ec;
}

/*---B----*/
.b_headline {
    margin-top: 20%;
    margin-bottom: 20%;
    padding-left: 0%;
    font-family: unica one;
    font-size: 3em;
    color: #ab1810;
}

.b_sub_headline {
    padding-top: 2%;
    padding-bottom: 20%;
    padding-left: 8%;
    font-family: overpass;
    font-size: 1.8em;
    color: #ebe9ec;
}

.b_title {
    padding-top: 1%;
    padding-bottom: 15%;
    padding-left: 15%;
    font-family: overpass;
    font-size: 1.4em;
    color: #ebe9ec;
}


/*---C----*/
.c_headline {
    margin-top: 20%;
    margin-bottom: 20%;
    padding-left: 0%;
    font-family: unica one;
    font-size: 3em;
    color: #ab1810;
}

.c_sub_headline {
    padding-top: 2%;
    padding-bottom: 20%;
    padding-left: 8%;
    font-family: overpass;
    font-size: 1.8em;
    color: #ebe9ec;
}

.c_title {
    padding-top: 1%;
    padding-bottom: 15%;
    padding-left: 15%;
    font-family: overpass;
    font-size: 1.4em;
    color: #ebe9ec;
}

/*---headline---*/



/*---dot---*/


.a_dot_headline {
    height: 2.8em;
    width: 2.8em;
    background-color: #ab1810;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: 125%;
    margin-bottom: 75%;
    margin-left: -60%;
}

.dot_subheadline {
    height: 2.4em;
    width: 2.4em;
    background-color: #ebe9ec;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: 140%;
    margin-bottom: 140%;
    margin-left: -52%;
}

.dot_title {
    height: 1.65em;
    width: 1.65em;
    background-color: #ebe9ec;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: 115%;
    margin-bottom: 115%;
    margin-left: -42%;
}


.b_dot_headline {
    height: 2.8em;
    width: 2.8em;
    background-color: #ab1810;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: 554%;
    margin-bottom: 75%;
    margin-left: -60%;
}

/*---dot---*/



/*---line---*/
.line_pad {
    padding-top: 40%;
}

.line {
    height: 0.4em;
    background-color: #ebe9ec;
    width: 4.5em;
    margin-left: 1em;
}

.linesmall_pad {
    padding-top: 38%;
}

.line_small {
    height: 0.3em;
    background-color: #ebe9ec;
    width: 5.8em;
    margin-left: 1em;
}

/*---line---*/
