/*--Part of the reset--*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

.menu {
    display: flex;
    flex-direction: row;
}


.navigation {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 100%;
    display: none;
}

.nav_element {
    color: #ebe9ec;
    text-align: center;
    font-family: unica one;
    line-height: 1.2em;
    margin-top: 1em;
    margin-right: 5%;
}

.menu_line {
    background-color: #ebe9ec;
    height: 0.4em;
    width: 6em;
}

.burger_menu {
    width: 15%;
    height: 15%;
    margin: auto;
    margin-right: 10%;
}




/*-------------------------*/
/*---------Devices---------*/
/*-------------------------*/

@media only screen and (min-width: 768px) {

    .burger_menu {
        display: none;
    }

    .navigation {
        display: flex;
    }
}



@media only screen and (min-width: 900px) {
    .nav_element {
        font-size: 1.1em;
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media only screen and (min-width: 1000px) {
    .nav_element {
        font-size: 1.2em;
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media only screen and (min-width: 1200px) {
    .nav_element {
        font-size: 1.3em;
        margin-left: 4%;
        margin-right: 4%;
    }
}
