/*--Part of the reset--*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}


/*--------------Body-------------*/
body {
    font: 12px/18px Arial, sans-serif;
    background: #1a1a1a;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    background: #1a1a1a;
    height: auto;
    /*---- COLOR ----*/
}

.link_white {
    text-decoration: none;
    color: #ebe9ec;
}

.link_white:hover {
    color: #ab1810;
}

.link_red {
    text-decoration: none;
    color: #ab1810;
}

.link_red:hover {
    color: #ebe9ec;
}

/*--------------------------*/
/*----------Header----------*/
/*--------------------------*/
.header {
    height: auto;

}

.top_space {
    padding-top: 5%;
}

.horizontal_line {
    background-color: #6b0f0b;
    height: 0.8em;
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 16px;
}

.logo:hover {
    opacity: 0.8;
}

.banner {
    text-align: center;
    color: white;
    margin-top: 190px;
}

.banner_pic {
    width: 100%;
}

.banner_pic_desktop {
    width: 100%;
    display: none;
}

.banner_text {
    position: relative;
    margin-top: -12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-family: unica one;
    line-height: 1em;
    letter-spacing: 0.08em;
    color: #ebe9ec;
    font-size: 2.5em;
}




/*---------MAIN---------*/

main {}

.vertical_line {
    background-color: #6b0f0b;
    width: 0.8em;
    height: 220em;
    margin-left: 5%;
    display: inline;
}






/*---------Footer---------*/
footer {
    height: auto;
    background: #BFF08E;
    width: 100%;
}

.container_footer {
    background-color: #ebe9ec;
    display: flex;
    flex-direction: row;
}

.vertical_line_footer {
    background-color: #6b0f0b;
    width: 0.8em;
    height: 19em;
    margin-left: 5%;
    margin-top: 0%;
    display: block;
}


.dot_headline_footer {
    height: 2.4em;
    width: 2.4em;
    background-color: #ab1810;
    border-radius: 60%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: 60%;
    margin-left: -60%;
}

.dot_subheadline_footer {
    height: 2em;
    width: 2em;
    background-color: #343434;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: 30%;
    margin-left: -52%;
}

.dotsecond_headline_footer {
    height: 2.4em;
    width: 2.4em;
    background-color: #ab1810;
    border-radius: 60%;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
    margin-top: 160%;
    margin-left: -60%;
}

.line_pad_footer {
    padding-top: 40%;
}

.line_footer {
    height: 0.4em;
    background-color: #343434;
    width: 4.5em;
    margin-left: 1em;
}

.a_headline_footer {
    padding-top: 10%;
    margin-left: -5%;
    font-family: unica one;
    font-size: 2.4em;
    color: #ab1810;
}

.b_headline_footer {
    padding-top: 12%;
    margin-left: -5%;
    font-family: unica one;
    font-size: 2.4em;
    color: #ab1810;
}

.sub_headline_footer {
    padding-top: 8%;
    padding-left: 14%;
    font-family: overpass;
    font-size: 1.5em;
    color: #343434;
}

.sub_footer {
    display: flex;
    flex-direction: row;
    padding-top: 6%;
    padding-left: 10%;
    font-family: overpass;
    font-size: 1.5em;
    color: #ab1810;
}

.insta_footer {
    max-width: 20%;
    margin-top: -0.5em;
}




/*-------------------------*/
/*---------Devices---------*/
/*-------------------------*/

@media only screen and (min-width: 500px) {

    .banner_text {
        font-size: 3.2em;
    }
}


@media only screen and (min-width: 850px) {

    .banner_text {
        font-size: 3.8em;
    }
}



@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 100%;
        margin: 0 auto;
        padding-left: 15%;
        padding-right: 15%;
        /*---- COLOR ----*/
    }

}
